$azul-principal: #012C7A;
$blanco: #FFFFFF;
$gris-claro: #f8f9fa;
$texto-oscuro: #333333;

$fuente-texto: 'Inter', sans-serif;
$fuente-titulo: 'Montserrat', sans-serif;

$equipos: (
    'atalaya': #0056b3,
    'sportsmen': #198754,
    'temperley': #212529
);