@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/base';
@import 'components/navbar';
@import 'components/footer';
@import 'components/cards';
@import 'components/tables';

@each $nombre, $color in $equipos {
    .borde-#{$nombre} {
        border-left: 4px solid $color !important;
    }
}