@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: #333333;
  background-color: #FFFFFF;
}

.bg-custom-blue {
    background-color: #012C7A !important;
}

.text-custom-blue {
    color: #012C7A !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #012C7A;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.escudo-chico {
  height: 30px;
  width: auto;
  vertical-align: middle;
}

.me-2-custom {
    margin-right: 0.5rem;
}
.ms-2-custom {
    margin-left: 0.5rem;
}

.escudo-grande {
    max-height: 200px;
    width: auto;
    object-fit: contain;
}

.card-img-top-custom {
    height: 150px;
    object-fit: contain;
    padding: 1rem;
}

footer {
    background-color: #001a4d;
    color: white;
}

footer h5 {
    color: #FFFFFF !important;
}

.footer-logo {
    max-width: 150px;
    height: auto;
}

.resultado-partido {
    display: inline-block;
    width: 100%;
    min-width: 80px;
    text-align: center;
}
